
@{
    ViewBag.Title = "UplodingAnyFiles";
}

<h2>UplodingAnyFiles</h2>

@using (Html.BeginForm("UplodingAnyFiles", "Uploding_Display", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        <input type="file" name="MyFile" style="width:400px;height:50px;font-weight:bold;font-size:25px;margin:10px" placeholder="choose your file" <br />
        <input type="text" name="FileName" style="width:400px;height:50px;font-weight:bold;font-size:25px;;margin:10px" placeholder="Enter file name" /> <br />

        <input type="submit" value="Upload" style="width:200px;height:50px;font-weight:bold;font-size:20px;"/>
    </div>

}  

<h1>@ViewBag.Message</h1>
