
@{
    ViewBag.Title = "CreateSecondtWay";
}

<h2>CreateSecondWay</h2>

<form action="/Students/CreateSecondWayPost" method="post">
    <input type="text" name="Id" placeholder="Id" /> <br />
    <input type="text" name="Name" placeholder="Name" /> <br />
    <input type="text" name="Age" placeholder="Age" /> <br />
    <input type="submit" />
</form> 