
@{
    ViewBag.Title = "CreateFirstWay";
}

<h2>CreateFirstWay</h2>

<form action="/Students/CreateFirstWayPost" method="post">
    <input type="text" name="Id" placeholder="Id"/> <br />
    <input type="text" name="Name" placeholder="Name" /> <br />
    <input type="text" name="Age" placeholder="Age" /> <br />
    <input type="submit"/>
</form> 